.container {
  max-width: 600px;
  margin-top: 50px;

  .form-row {
      margin-bottom: 1rem;
  }

  h2 {
      text-align: center;
      color: #333;
      font-weight: bold;
      margin-bottom: 1.5rem;
  }

  .form-group label {
      font-weight: bold;
      color: #555;
  }

  .form-control {
      padding: 0.5rem;
      border-radius: 0.25rem;
      border: 1px solid #ccc;
      &:focus {
          outline: none;
          box-shadow: 0px 0px 5px rgba(0, 123, 255, 0.5);
          border-color: #007bff;
      }
  }

  .btn-primary {
      width: 100%;
      padding: 0.75rem;
      font-size: 1rem;
      background-color: #007bff;
      border: none;
      border-radius: 0.25rem;
      color: white;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
          background-color: #0056b3;
      }
  }
}
